body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
/*  Default size */
  font-size: 16px;
}

/* Navigation bar */
#brand {
  float: left;
  position: relative;
  top: 9px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

#brand span {
  color: #d8b48d;
}

nav {
  background-color: transparent;
  width: 100%;
  overflow: auto;
  height: 50px;
}

nav ul {
  float: right;
  padding-right: 10px;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color: white;
}

/* Hero-block */

#hero-block {
  background-image: url(snappa-1454705868.jpg);
  background-size: cover;
  background-repeat: none;
  height: 100vh;
}

/* Splash screen */

#splash-screen {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 15%;
  left: 20%;
  background-color:transparent;
  text-align: center;
  border-radius: 25px;
  color: white;
}

#splash-screen h1 {
  font-size: 3em;
}

#splash-screen span {
  color: #d8b48d;
}

#splash-screen p {
  padding: 10px 20%;
}

#splash-screen button {
  background-color: #4CAF50;
  border: none;
  padding: 15px 50px;
  margin-top: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  border-radius: 25px;
  color: white;
}

/* Info block */

#info-block {
  display: inline;
  width: 100%;
  height: 300px;
  background-color: white;
  margin: 0;
  margin-top: -15%;

}

.container {
  text-align: center;
  position: relative;
  margin: -120px 0 0 0;
}

.box {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-color: white;
  margin: 0px 10px;
  border-radius: 10px;
  vertical-align: top;
  box-shadow: 0 0 25px  black;
}

.box-text {
  position: relative;
}

.box-text h3 {
  padding-top: 13%;
  font-size: 2rem;
  margin-bottom: 0;
}

.box-text p {
  font-size: 1.25rem;
  padding: 10px 20px;
  margin-top: 0;
  color: #d8b48d;
}

.box button {
  background-color: #4CAF50;
  border: none;
  padding: 15px 50px;
  margin-top: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  border-radius: 25px;
  color: white;
}

/* Contact section */

#contact-section {
  margin-top: 30px;
  background-color: #986834;
  width: 100%;
  height: 500px;
}

.text-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.text-container h3 {
  font-size: 2em;
    color: white;
}

.text-container p {
  font-size: 1.5rem;
  color: #d8b48d;
}

.text-container button {
  background-color: #4CAF50;
  border: none;
  padding: 15px 50px;
  margin-top: 2em;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 25px;
  color: white;
}

/* Footer */
footer {
  width: 100%;
  height: 100px;
  color: #d8b48d;
}

footer a {
  color: #4CAF50;
  text-decoration: none;  
}

footer a:hover {
  text-decoration: underline;
}


/* Media Queries */
  
/* Mobile */
@media screen and (max-width: 700px) {
  #brand {
    float:none;
    text-align: center;
    margin-bottom: 2%;
  }
  nav {
    overflow: visible;
  }
  nav ul {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
  nav li {
    float: none;
  }
  #splash-screen {
    width: 80%;
    left: 10%;
    top: 20%;
  }
  #splash-screen p {
    padding: 0px;
  }
  .container {
    margin: 0;
  }
  .box {
    width: 80vw;
    margin: 10px;
  }
}

  
